@font-face {
  font-family: Arvo;
  src: url("assets/Arvo.ttf");
}

@font-face {
  font-family: PTSerif;
  src: url("assets/PTSerif-Regular.ttf");
}

:root {
  --color_1: #0f0d31;
  --color_2: #1c336d;
  --color_3: #212255;
  --text-color: #ffffff;
  --cursor-color: #000000;
  --font-size: 4rem;
  --typing-speed: 2s;          /* Duración de la escritura */
  --cursor-blink-speed: 0.5s;  /* Velocidad del parpadeo */
  --char-count: 17; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color_3);
  width: 100vw;
  height: max-content;
}

nav {
  background-color: #fffffe;
  min-height: max-content;
  width: 100%;
  padding-bottom: 1%;
  padding-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 10px var(--color_1);
}

main {
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 700px;
    animation: slideInFromBottom 2s ease-out forwards;
    -webkit-animation: slideInFromBottom 2s ease-out forwards;
  }
}

#lentes {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  padding-bottom: 20vh;
}

a {
  text-decoration: none;
}

.texto_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10rem;
}

.typing-text-container {
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--font-size);
  font-family: Arvo;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  width: max-content;
  border-right: 3px solid var(--cursor-color);
  animation:       typing var(--typing-speed) steps(var(--char-count), end) forwards,            blink-cursor var(--cursor-blink-speed) step-end       calc(var(--typing-speed) / var(--cursor-blink-speed)) forwards;
  -webkit-animation:       typing var(--typing-speed) steps(var(--char-count), end) forwards,            blink-cursor var(--cursor-blink-speed) step-end       calc(var(--typing-speed) / var(--cursor-blink-speed)) forwards;
}

#caracteristicas_lentes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
  background-color: #e1e0e0;
  font-size: 1.5rem;

  img {
    width: 500px;
  }
}

.lentes_container {
  /*background: radial-gradient(circle,rgba(237, 237, 237, 1) 0%, rgba(29, 49, 102, 1) 13%);*/
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lentes_text {
  font-family: PTSerif;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}

.text_container {
  display: flex;
  flex-direction: column;
}

li {
  font-family: PTSerif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .texto_caracteristicas{
    font-weight: bold;
    font-size: 2rem;
  }
}

#certificaciones {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 30px;
}

.certificaciones {
  background-color: white;
  width: 100vw;
  flex-direction: row;
  justify-content: space-evenly;
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

#quienes_somos {
  color: white;
  h2 {
    font-size: 50px;
    margin: 50px;
    font-family: PTSerif;
  }
  p, li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

.quienes {
  display: grid;
  grid: 'mision vision'
  'valores valores';

  h3 {
    font-family: Arvo;
    font-size: 30px;
    margin: 10px
  }
}

.mision {
  grid-area: mision;
  padding: 30px;
  margin: 30px;
}

.vision {
  grid-area: vision;
  padding: 30px;
  margin: 30px;
}

.valores {
  grid-area: valores;
  padding: 30px;
  margin: 30px;
}

.footer {
  padding: 30px;
  font-family: Arvo;
  color: white;
  width: 100vw;
  background-color: var(--color_1);
}

.contactos {
  margin: 40px;
  width: 100vw;
  justify-content: space-evenly;
  flex-direction: row;
}

@keyframes typing {
  from { 
      width: 0; 
  }
  to { 
      width: calc(var(--char-count) * 1.0em); 
  }
}

@keyframes blink-cursor {
  from { 
      border-color: var(--cursor-color); 
  }
  to { 
      border-color: transparent; 
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@media (max-width: 800px) {
  #lentes {
    height: 100dvh;
  }

  .images_container {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .lentes {
    height: 100vh;
    gap: 0rem;
  }

  .typing-text-container{
    font-size: 15px;
  }

  main{
    img {
      width: 300px;
    }
  }

  #caracteristicas_lentes{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: max-content;
    text-align: center;
    font-size: .9rem;
    width: 100%;
    align-items: center;
    justify-content: center;

    img {
      width: 200px;
    }

    div {
      border-bottom: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    ul {
      list-style: none;
      width: 100vw;
    }

    .texto_caracteristicas {
      font-size: 1.5rem;
    }
  }

  #certificaciones {
    img {
      width: 40px;
      height: 40px;
    }
  }

  #certificaciones{
    padding: 0;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  #quienes_somos {
    h2 {
      text-align: center;
    }
  }

  .quienes {
    grid: 'mision'
    'vision'
    'valores';

    .mision {
      text-align: center;
    }

    .vision {
      text-align: center;
    }

    .valores {
      text-align: center;
      ol {
        list-style: none;

        li {
          margin-bottom: 10px;
        }
      }
    }
  }


  .contactos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }
}